<main>
  <h1>{{title}}</h1>
  <img src="assets/img/GestFormLogo.png" 
         alt="Logo de GestForm"
         class="logo">
  <button type="submit" 
          (click)="intervalNumber()"
          aria-label="Bouton pour générer un chiffre aléatoire">Generate Number
  </button>
  <div class="result">
    <ng-container *ngIf="result">
      <div class="success">
        <ng-container *ngIf="result.value === 'GestForm'">
          <div class="animate__animated animate__lightSpeedInLeft">
            {{result.value}}
          </div>
        </ng-container>
      </div>
      <div class="half-success">
        <ng-container *ngIf="result.value === 'Gest' || result.value === 'Form'">
          <div class="animate__animated animate__fadeInDown">
            {{result.value}}
          </div>
        </ng-container>
      </div>
      <div class="failure">
        <ng-container *ngIf="result.value >= -1000 || result.value <= 1000">
          <div class="animate__animated animate__flipInX">
            {{result.value}}
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</main>